.bg-default {
    background-color: gray;
}

.bg-before-due-date {
    background-color: yellow;
}

.bg-due-date {
    background-color: orange;
}

.bg-past-due {
    background-color: red;
}

#card-title::placeholder {
    color: lightgray;
}
